#btn1
{
    color: purple;
    background-color: midnightblue;
    font-size: large;
    font-weight:bolder ;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
}
#header
{
    color: purple;
    background-color: midnightblue;
    word-wrap: normal;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-align:center ;
}
#footer,hr{
   position:absolute;
   bottom:0;
   width:100%;
   height:60px; 
   text-align: center;   
}

*{
    text-align: center;
    background-image: linear-gradient(#00ffff,#00ffff);
    
}
#result
{
    width: 250px;
    height: 50px;
    border: black solid 2px;
    font-size: 40px;
    padding: 5px;
    font-weight: 20px;
    margin-left: 500px;

}

